//colours
$white: #fff;
$background: #f2f2f2;
$orange: #ff690C;
$red: #ff0000;
$green: #008000;
$grey: #808080;
$bs-color: #e4e6e8;
$font-stack: 'Pathway Gothic One', sans-serif;
$body-font: 'Lato', sans-serif;
$center: center;
$x: -50%;
$y: -50%;
